@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.main__container {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(23, 252, 174, 1) 100%
  );
  /* background-image: url(../../assets/notebook.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Ubuntu", sans-serif;
}
.circle__one {
  position: absolute;
  top: 20rem;
  left: 10rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: rgb(171, 220, 255);
  background: linear-gradient(
    45deg,
    rgba(171, 220, 255, 1) 0%,
    rgba(23, 252, 159, 1) 100%
  );
}
.circle__two {
  position: absolute;
  top: 3rem;
  right: 7rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: rgb(171, 220, 255);
  background: linear-gradient(
    45deg,
    rgba(171, 220, 255, 1) 0%,
    rgba(23, 252, 159, 1) 100%
  );
}
.sign__up__container {
  font-family: "Ubuntu", sans-serif;
  min-width: 50rem;
  min-height: 30rem;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* max-width: 30rem; */
  margin: auto;
  margin-top: 4rem;
  z-index: 1;
  backdrop-filter: blur(1rem);
  border: solid 2px transparent;
  border-radius: 2rem;
  background-clip: padding-box;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(17, 250, 150, 0.03);
}
.sign__up__title {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: rgb(0, 38, 255);
}
.sign__up__form {
  width: 20rem;
}
.sign__up__field {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: #1281ff;
}
.sign__up__inp {
  font-size: 1rem;
  height: 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
  letter-spacing: 0.15rem;
  padding-left: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background: #cdf6f4;
  color: #0a2afa;
}
::placeholder {
  color: #1281ff;
  letter-spacing: 0.25rem;
  font-size: 0.8rem;
  font-family: "Ubuntu", sans-serif;
}
.sign__up__btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(0, 38, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.secondary__btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid rgb(0, 38, 255);
  border-radius: 0.5rem;
  background-color: #cdf6f4;
  color: rgb(0, 38, 255);
  cursor: pointer;
}
.error__message {
  color: rgb(250, 0, 0);
  text-transform: capitalize;
  padding: 0.5rem;
  border: 0.1rem solid rgb(250, 0, 0);
  border-radius: 0.5rem;
}
.confirmation__message {
  color: rgb(0, 255, 0);
  text-transform: capitalize;
  padding: 0.5rem;
  border: 0.1rem solid rgb(0, 255, 0);
  border-radius: 0.5rem;
}
.link__style {
  line-height: 2rem;
  text-decoration: none;
  color: rgb(0, 38, 255);
}
.password__secondary__links {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
