@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.main__container {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(23, 252, 174, 1) 100%
  );

  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Ubuntu", sans-serif;
}
.circle__one {
  position: absolute;
  bottom: 12vh;
  left: 10vw;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: rgb(171, 220, 255);
  background: linear-gradient(
    45deg,
    rgba(171, 220, 255, 1) 0%,
    rgba(23, 252, 159, 1) 100%
  );
}
.circle__two {
  position: absolute;
  top: 3rem;
  right: 7rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: rgb(171, 220, 255);
  background: linear-gradient(
    45deg,
    rgba(171, 220, 255, 1) 0%,
    rgba(23, 252, 159, 1) 100%
  );
}
.sign__up__container {
  font-family: "Ubuntu", sans-serif;
  width: 50rem;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 1;
  backdrop-filter: blur(1rem);
  border: solid 2px transparent;
  border-radius: 2rem;
  background-clip: padding-box;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(17, 250, 150, 0.03);
}
.sign__up__title {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: rgb(0, 37, 31);
}
.sign__up__form {
  width: 50%;
}
.sign__up__field {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: #1281ff;
}
.sign__up__inp {
  font-size: 1rem;
  height: 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
  letter-spacing: 0.15rem;
  padding-left: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background: #f2fffe;
  color: #0a2afa;
}
::placeholder {
  color: #1281ff;
  letter-spacing: 0.25rem;
  font-size: 0.8rem;
  font-family: "Ubuntu", sans-serif;
}
.sign__up__btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(0, 38, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.secondary__btn {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid rgb(0, 38, 255);
  border-radius: 0.5rem;
  background-color: #f2fffe;
  color: rgb(0, 38, 255);
  cursor: pointer;
}
.error__message {
  color: rgb(250, 0, 0);
  text-transform: capitalize;
  padding: 0.5rem;
  border: 0.1rem solid rgb(250, 0, 0);
  border-radius: 0.5rem;
}
.confirmation__message {
  color: rgb(0, 255, 0);
  text-transform: capitalize;
  padding: 0.5rem;
  border: 0.1rem solid rgb(0, 255, 0);
  border-radius: 0.5rem;
}
.link__style {
  line-height: 2rem;
  text-decoration: none;
  color: rgb(0, 38, 255);
}
.question__secondary {
  color: rgb(0, 37, 31);
  letter-spacing: 0.1rem;
}
.password__secondary__links {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns__update__profile {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
@media only screen and (max-width: 768px) {
  .circle__one {
    bottom: 5vh;
    left: 5vw;
    width: 10rem;
    height: 10rem;
  }
  .circle__two {
    top: 5vh;
    right: 5vw;
    width: 15rem;
    height: 15rem;
  }
  .sign__up__container {
    width: 75%;
  }
  .sign__up__form {
    width: 80%;
  }
  .password__secondary__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .question__secondary {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 411px) {
  .sign__up__container {
    height: 95%;
  }
  .sign__up__form {
    margin-bottom: 0.8rem;
  }
}
