@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.home__container {
  width: 100vw;
  height: 100vh;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(23, 252, 174, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  font-family: "Ubuntu", sans-serif;
  flex-wrap: wrap;
}
.circle__one__home {
  position: absolute;
  bottom: 12vh;
  left: 10vw;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: rgb(171, 220, 255);
  background: linear-gradient(
    45deg,
    rgba(171, 220, 255, 1) 0%,
    rgba(23, 252, 159, 1) 100%
  );
}
.circle__two__home {
  position: absolute;
  top: 3rem;
  right: 7rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: rgb(171, 220, 255);
  background: linear-gradient(
    45deg,
    rgba(171, 220, 255, 1) 0%,
    rgba(23, 252, 159, 1) 100%
  );
}

.todo__app {
  font-family: "Ubuntu", sans-serif;
  width: 50rem;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
  z-index: 1;
  backdrop-filter: blur(1rem);
  border: solid 2px transparent;
  border-radius: 2rem;
  background-clip: padding-box;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(17, 250, 150, 0.03);
  max-height: 80%;
}

.todos__list {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.todos__list::-webkit-scrollbar {
  display: none;
}
.current__user__info {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
}
.todo__title {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: #fcfcfc;
  text-transform: capitalize;
}
.todo__title__icons {
  display: flex;
  align-items: center;
}
.todo__title__icon {
  font-size: 1.2rem;
  color: #fcfcfc;
  margin-left: 0.5rem;
  cursor: pointer;
}

.todo__form {
  width: 50%;
  margin-bottom: 2rem;
}
.todo__input {
  font-size: 1rem;
  height: 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
  letter-spacing: 0.15rem;
  padding-left: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  background: #f2fffe;
  color: #0a2afa;
}
@media only screen and (max-width: 768px) {
  .circle__one__home {
    bottom: 5vh;
    left: 5vw;
    width: 10rem;
    height: 10rem;
  }
  .circle__two__home {
    top: 5vh;
    right: 5vw;
    width: 15rem;
    height: 15rem;
  }
  .todo__app {
    width: 80%;
  }
  .todo__title {
    width: 90%;
    font-size: 1.1rem;
  }
  .todo__title__icon {
    font-size: 1.1rem;
  }
  .todo__form {
    width: 90%;
  }
  .todos__list {
    width: 90%;
  }
}
